{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PASTEL MEMORIES</title>

    <!-- linking -->
     <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
     <link rel="stylesheet" href="{% static 'css/style.css' %}">
     <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap" rel="stylesheet">
     
</head>

<body class="bg-violet-300">
    
<!-- navbar  -->
 <nav class="bg-purple-300 fixed w-full z-20 top-0 start-0 border-b border-hidden shadow-xl">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-2">
    <!-- Logo image , title -->
  <a href="{% url 'home' %}" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="{% static 'images/logo.png' %}" class=" h-14" alt="Logo">
      <h1 class="font-cinzel sm:text-sm md:text-3xl font-bold uppercase tracking-widest text-gray-800">   Pastel Memories        </h1>
  </a>
  <!-- User photo -->
{% if user.is_authenticated %}
  <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <button type="button" class="flex text-sm bg-neutral-primary rounded-full md:me-0 focus:ring-4 focus:ring-neutral-tertiary" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
        <span class="sr-only">Open user menu</span>
        
        <div class="flex items-center justify-center w-8 h-8 rounded-full bg-purple-500 text-white font-bold text-xl"> {{ user.first_name|default:user.username|slice:":1"|upper }} </div>
         {% comment %} <img class="w-8 h-8 rounded-full" src="{% static 'images/8.jpeg' %}" alt="user photo"> {% endcomment %}

      </button>
      <!-- Dropdown menu -->

      <!-- User -->     

      <div class="z-50 hidden bg-gray-400-primary-medium border border-default-medium rounded-base shadow-lg w-44" id="user-dropdown">
        <div class="px-4 py-3 text-sm border-b border-default">
          <span class="block text-heading font-medium"> {{user.first_name}} {{user.last_name}} </span>
          <span class="block text-body truncate"> {{user.email}} </span>
        </div>
        <!-- Necessary btn -->
        <ul class="p-2 text-sm text-body font-medium" aria-labelledby="user-menu-button">
          {% if user.is_superuser %}
          <li>
            <a href="{% url 'manager'  %}" class="inline-flex items-center hover:text-white w-full p-2 hover:bg-gray-400-tertiary-medium hover:text-heading rounded cursor-pointer">Dashboard</a>
          </li> 
          {% elif user.is_authenticated %}
          <li>
            <a href="{% url 'dashboard' user.id %}" class="inline-flex items-center hover:text-white w-full p-2 hover:bg-gray-400-tertiary-medium hover:text-heading rounded cursor-pointer">Dashboard</a>
          </li> 
          {% endif %}                  
          <li>
            <a href="{% url 'logOut' %}" class="inline-flex items-center w-full p-2 hover:text-white hover:bg-gray-400-tertiary-medium hover:text-heading rounded cursor-pointer">Sign out</a>
          </li>
        </ul>
      </div>
      <button data-collapse-toggle="navbar-user" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-body rounded-base md:hidden hover:bg-neutral-secondary-soft hover:text-heading focus:outline-none focus:ring-2 focus:ring-neutral-tertiary" aria-controls="navbar-user" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-6 h-6" aria-hidden="true" xmlns="" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14"/></svg>
      </button>
  </div>
  {% else %}
   <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
        {% comment %} Dropdown btn {% endcomment %}
    <button type="button" class="flex text-sm bg-neutral-primary rounded-full md:me-0 focus:ring-4 focus:ring-neutral-tertiary" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
        <span class="sr-only">Open user menu</span>
       
      </button>

       <div class="flex flex-row flex-nowrap
            items-center justify-center
            gap-2 sm:gap-3 md:gap-4">

        <a href="{% url 'signUp' %}"
          class="rounded-md 
          bg-purple-700 text-white shadow-sm
          hover:bg-purple-900 transition cursor-pointer
          text-xs sm:text-sm md:text-base
          px-3 py-1.5 sm:px-4 sm:py-2">
            SIGN UP
          </a>

        <a href="{% url 'signIn' %}"
          class="cursor-pointer rounded-md
          border-2 border-purple-700 text-purple-800 
          hover:bg-purple-700 hover:text-white transition
          text-xs sm:text-sm md:text-base
          px-3 py-1.5 sm:px-4 sm:py-2">
          SIGN IN 
          </a>

      </div>
     <button data-collapse-toggle="navbar-user" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-body rounded-base md:hidden hover:bg-neutral-secondary-soft hover:text-heading focus:outline-none focus:ring-2 focus:ring-neutral-tertiary" aria-controls="navbar-user" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-6 h-6" aria-hidden="true" xmlns="" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14"/></svg>
      </button>

  </div>

   {% endif %}
  <!-- Home, contact, about -->
  <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
    <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-default rounded-base bg-neutral-secondary-soft md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-neutral-primary">
      <li>
        <a href="{% url 'home' %}" class="block py-2 px-3 bg-brand rounded md:bg-transparent md:text-fg-brand md:p-0 hover:text-white cursor-pointer" aria-current="page">Home</a>
      </li>
      <li>
        <a  class=" cursor-pointer block py-2 px-3 text-heading rounded hover:bg-neutral-tertiary md:hover:bg-transparent md:border-0 md:hover:text-fg-brand md:p-0 md:dark:hover:bg-transparent hover:text-white " id="about">About</a>
      </li>
      <li>
        <a class="cursor-pointer block py-2 px-3 text-heading rounded hover:bg-neutral-tertiary md:hover:bg-transparent md:border-0 md:hover:text-fg-brand md:p-0 md:dark:hover:bg-transparent hover:text-white" id="contact">Contact</a>
      </li>
    </ul>
  </div>
  </div>
</nav>
{% block home %}{% endblock home %}
{% block login %}{% endblock login %}
{% block register %}{% endblock register %}
{% block manager_dashboard %}{% endblock manager_dashboard %}


<!-- Footer part -->
<footer class="bg-purple-900 text-purple-200 py-6">
  <div class="max-w-7xl mx-auto px-6 flex flex-col sm:flex-row justify-between items-center gap-4">
    <p>&copy; {{year}} PASTEL MEMORIES. All rights reserved.</p>
    <p class="text-sm">Designed for personal memory preservation</p>
  </div>
</footer>

<!-- script -->
 <script src="{% static 'js/script.js' %}"></script>
 <script src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script>

</body>
</html>